<div id="github-card" 
	data-sort-by="stars"
	data-header-text="Most starred repositories"
	data-max-repos="<%= theme.github_profile_card.max || 5 %>"
	data-username="<%= theme.github_profile_card.username || 'CTFTraining' %>">
</div>